.left,.right{
    height: 100dvh;
}

.brand-box{
    background-color: rgb(214,153,92);
}
.pagination{
    background-color: none !important;
}
.navbar p{
    font-size: 15px
}
.right .form-box{
    height: 90%;
}
.right  .navbar{
    height: 10%;
}
.right  .typeform{
    height: 90%;
}
.right .container .row  div{
    padding: 20px;
}
.agreement{
    text-align: justify;
    font-size: 0.8rem;
}
.dropdown-toggle::after{
    position: absolute;
    right: 0px;
    top:40%;
}
.feedback-group button{
    width: 23px;
    height: 25px;
    line-height:2ch;
    text-align: center;
    border: 1px solid rgb(192, 136, 88);
    background-color: rgb(192, 136, 88);
}
.color-box{
    background-color: white;
    display: inline;
    width: auto;
    padding-inline: 3px;
    position: absolute;
    right: 0px;
    top:-45px;
    border-radius: 5px;
    cursor: pointer;
}
.select-font{
    position: absolute;
    font-weight: bold;
    display: inline;
    width: auto;
    padding-inline: 15px;
    right: 0px;
    border-radius: 5px;
    top: -15px;
    cursor: pointer;
}